.post {
    height: 100%;
    text-decoration: none;

    > .card-body {
        display: flex;
        flex-direction: column;

        > .card-title {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        > .card-text {
            flex-grow: 1;
        }
    }
}